body {
    background: linear-gradient(to right, #904e95, #e96443);
}

.btn.btn-raised.btn-primary {
    background-color: #d2cee4 !important;
    font-size: 16px;
    font-weight: bold;
    /* width: 100%; */
    padding: 15px;
}

header {
    background-color: #dab926;
    padding: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: white;
}

header h1 {
    font-size: 26px;
    margin: 0;
}

#contenido {
    margin-top: 60px;
    padding: 20px;
    background-color: white;
    -webkit-box-shadow: 0px 21px 46px -15px rgba(0, 0, 0, 1);
    -moz-box-shadow: 0px 21px 46px -15px rgba(0, 0, 0, 1);
    box-shadow: 0px 21px 46px -15px rgba(0, 0, 0, 1);
}

.contenido-formulario {
    margin-top: 22px;
    display: flex;
    height: 500px;
    /* flex-wrap: nowrap; */

}
    .contenido_card{
        height: 250px;
        width: 400px;
    }
        .card .imagen{
        height: 300px;
        width: 450px;
        }

    .formulario{
        height: 600px;
        width: 700px;
    }
.form-group{
    padding: 15px;
    font-size: 20px;
    }
    .form-control{
        font-size: 18px;
    }

.container_contacto {
    display: flex;
    /* flex-direction: column; */
    flex-wrap: wrap;
    margin: 30px;
    padding: 50px;
    /* height: 600px; */
    width: 700px;
    font-size: 20px;
    text-align: center;
    border: 4px solid #253d41;
}
    .form-control2{
        font-size: 18px;
        width: 400px;
        height: 25px;
        /* margin-left: 20px; */
        text-align: center;
        /* padding: 10px; */
        margin: 6px;
    }
    .text-contacto{
        text-align: center;
        width: 800px;
    }
    .label-control{
        width: 20px;
    }
.btn_formulario2{
    font-size: 22px;
    width: 100px;
    padding: 5px;
    border:#862451 2px solid;
    color:#8f265b;
    font-weight: bold;
    border-radius: 10px;
    background-color: rgb(255, 230, 241);
    margin-top: 20px;
    margin-left: 150px;
    transition: all 0.5s;
}
.footer {
    background-color: #be95a8;
    color:#9b6f85;
    width: 100%;
    height: 50px;
}

.footer_texto{
    font-size: 16px;
    text-align: center;
    padding-top: 10px;
    color:rgb(26, 9, 5);
}